<div class="row justify-content-center mb-3">
    <div class="col-12 col-md-2 col-xl-1 d-flex align-items-center">
        <label for="productId" class="form-label text-nowrap">Product ID:</label>
    </div>
    <div class="aux2 col-12 col-md-5 col-xl-5 d-flex align-items-center mb-1">
        <input type="number" id="productId" class="form-control" placeholder="Enter product ID">
    </div>
    <div class="col-12 col-md-5 col-xl-5  d-flex align-items-center">
        <button id="searchBtn" class="btn btn-primary" style="background-color:darkcyan">Search</button>
    </div>
</div>
<div id="productResults"></div>